html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#body {
    overflow: auto;
    padding-bottom: 100px;
}

#footer {
    color: white;
    background-color: #212529;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}
