#liedjeInput {
    background-image: url('http://radiostation.test/img/searchicon/searchicon.png');
    background-position: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 6px 20px 6px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
}
